$choiceColorJs: white;
$secondChoiceColorJs: lighblue;

.containerHome {
  max-width: 100vw;
  height: 100vh;
  background-color: dimgrey;
  background-image: url("../images/alnnnnn.png");

}

.card {
  width: 90vw;
  margin: auto;
  position: relative;
  top: 50vh;
  transform: translatey(-50%);
  padding: 20px 10px;
  background: rgba($choiceColorJs, 0.7);
}

.app {
  width: 350px;
  padding: 20px 20px;
  background-color: rgba($choiceColorJs, 0.7);
  border-radius: 10px;
  margin: auto;
  top: 50vh;
  transform: translatey(-50%);
  position: relative;
    .appHeader {
      display: flex;
      justify-content: space-around;
      padding: 15px 10px;
      .userName {
        margin-top: 30px;
        color: $secondChoiceColorJs;
        font-size: 1.5em;
        font-family: "Ubuntu Condensed", sans-serif;
        height: 100%;
      }
    }
    .appFollow {
      padding: 10px 5px;
    }
    .appRepos {
      .countCreate {
        display: flex;
        justify-content: space-around;
        padding: 10px;
      }
    }
    .deposApp {
      padding: 10px 25px;
      ul {
        text-align: center;
      }
    }
}

// Modal for details
.modal-header {
  padding: 20px 0 5px 10px;
  display: flex;
  justify-content: space-between;
}

.modal.bottom-sheet {
  min-height: 80%;
}

.slideDetails {
  padding: 50px 15px;
  background-color: lightgrey;
}

.collapsible {
  .collapsible-header {
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: #grey;
    }
  }
  .collapsible-body {

  }
  .collapsible-footer {
    padding: 10px 30px;
    span {
      margin-left: 50px;
    }
  }

}